body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(91, 124, 145);
}

p {
    color: rgb(94, 250, 4);
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(147, 240, 128);
    background-color: rgb(194, 192, 63);
    color: black;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}